.card {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
  width: 450px;
  text-align: center;
  margin: 1rem;
  background-color: white;
}
.hero-img {
  width: 100%;
}
.content {
  margin: 1.5rem;
}
.btn {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background: none;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}
.btn--highlighted {
  background-color: hsl(245, 75%, 52%);
  color: white;
}
@media screen and (max-width: 450px) {
  .card {
    width: auto;
  }
}
