:root {
  --border-radius: 10px;
  --hover-color: hsl(224, 100%, 70%);
}
.card {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
  max-width: 450px;
  min-width: 300px;
  text-align: center;
  margin: 1.2rem;
  background-color: white;
}
.hero-img {
  width: 100%;
}
.content {
  margin: 1.5rem;
}
.btn {
  width: 100%;
  padding: 1rem;
  border-radius: var(--border-radius);
  border: none;
  background: none;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.subcard {
  background-color: hsl(225, 100%, 98%);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0;
  margin: 1.1rem 0;
}
.subcard p,
h2 {
  margin: 0;
}
.btn--highlighted {
  background-color: hsl(245, 75%, 52%);
  color: white;
  box-shadow: 0px 20px 20px hsl(225, 100%, 90%);
}
a:hover,
.btn:hover {
  color: hsl(224, 100%, 70%);
}
.btn--highlighted:hover,
.btn--highlighted:active {
  background-color: hsl(224, 100%, 70%);
  color: white;
}
